.pageheader
  .space-40
  %h2 Milestone Entries
  = link_to "Add Milestone", new_milestone_path
  %hr
  - @milestones.each do |milestone|
    .well
      = link_to "#{milestone.title}  :", milestone_path(milestone)

      = milestone.date
      %br
