.pageheader
  = simple_form_for @food do |f|
    .form-inputs
      = f.text_field :meal, style: 'width:300px;', placeholder: 'Food'
      = f.text_field :drink, style: 'width:300px;', placeholder: 'Drink'
    .form-actions
      = f.submit
      