.pageheader
  .space-40
  %h2 Meals
  = link_to "Add Entry", new_food_path
  %hr
  - @foods.each do |food|
    .well
      = food.created_at.try(:strftime, "%m-%d-%Y")
      %li
        Food-
        = food.meal
      %li 
        Drink-
        = food.drink        
    %br
 
  