%ul
  %l1
    Aaron, seeker of justice
  %li
    Abaddon, the destroyer
  %li
    Abagtha, father of the wine-press
  %li
    Abana, made of stone; a building
  %li
    Abarim, passages; passengers
  %li
    Abba, father
  %li
    Abda, a servant; servitude
  %li
    Abdeel, a vapor; a cloud of God
  %li
    Abdi, my servant
  %li
    Abdiel, servant of God
  %li
    Abdon, servant; cloud of judgment
  %li
    Abednego, servant of light; shining
  %li
    Abel, vanity; breath; vapor
  %li
    Abel, a city; mourning
  %li
    Abel-beth-maachah, mourning to the house of Maachah
  %li
    Abel-maim, mourning of waters
  %li
    Abel-meholah, mourning of sickness
  %li
    Abel-mizraim, the mourning of Egyptians
  %li
    Abel-shittim, mourning of thorns or meadow of acacias
  %li
    Abez, an egg; muddy
