// Place all the styles related to the Foods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#food_meal {
  width: 200px;
  margin-left: 10px;
}
#food_drink {
  width: 200px;
  margin-left: 10px;
}