<div class="pageheader">
  <h2 class="text-center"> {{ data.currentForum.name }}</h2>
  <div class="row">
    <form class="input-group">
      <input class="form-control ng-pristine ng-valid" id="srch-term" ng-model="searchText" placeholder="Search Comments" type="text" style="width:200px;">
      <button type="button" class="btn btn-info" ng-click="returnHome()" style="float:right;">Home</button>
    </form>
  </div>
  <hr>
    <div class="row" ng-repeat="comment in data.currentForum.comments | filter:searchText" style="margin-left:5px;">
      <li>
        <strong> {{ comment.user_name }} </strong>-{{ comment.content }}
      </li>
    </div>
    <form name="myForm" class="my-form">
      <textarea ng-model="formData.newCommentContent" style="margin-left:5px;width:300px;height:100px" required></textarea>
      <button type="button" class="btn btn-success" ng-click="createComment()"style="float:bottom;">Create</button>
    </form>    
  </div>
</div>